.product {
    list-style: none;
    width: 160px;
    background-color: white;
    box-shadow: 1px 2px 4px 0 #0000001A;
    border-radius: 4px;
    padding: 8px;
}

.productImage {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
}

.productTitle {
    font-size: 12px;
    line-height: 18px;
    grid-column: 1/-1;
}


.productItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.productItemCost {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subTitle {
    font-size: 8px;
    line-height: 12px;
    color: #BFBFBF;
}

.costByCard {
    grid-column: 1/2;
}

.addButton {
    grid-column: 1/-1;
}