.product {
    position: relative;
    list-style: none;
    width: 160px;
    background-color: white;
    box-shadow: 1px 2px 4px 0 #0000001A;
    border-radius: 4px;
    padding: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    @media (min-width: 1920px) {
        width: 272px;
    }
}

.productImage {
    width: 100%;
    height: 100%;
    grid-column: 1/-1;
}

.productTitle {
    font-size: 12px;
    line-height: 18px;
    grid-column: 1/-1;

    @media (min-width: 1440px) {
        font-size: 16px;
    }
}


.productItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.inFavorite {
    position: absolute;
    width: 24px;
    height: 21px;
    top: 5px;
    right: 5px;
    border-radius: 4px;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.productItemCost {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: 1440px) {
        font-size: 18px;
    }
}

.subTitle {
    font-size: 8px;
    line-height: 12px;
    color: #BFBFBF;

    @media (min-width: 1440px) {
        font-size: 12px;
    }
}

.costByCard {
    grid-column: 1/2;
}

.addButton {
    grid-column: 1/-1;
}