.product {
    list-style: none;
    width: 160px;
}

.productImage {
    width: 100%;
    height: 100%;
}

.productTitle {
    font-size: 12px;
    line-height: 18px;
}

.defaultCost {
    display: none;
}


.productItem {
    display: flex;
    flex-direction: column;
}

.costByCard {

}