.productsList {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 16px;

    @media (min-width: 1920px) {
        grid-template-columns: repeat(4, 272px);
        gap: 40px;
    }
}

.productsList:nth-child(odd) {
    grid-column: 1/2;
}

.p:nth-child(even) {
    grid-column: 2/-1;
}