.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    background-color: white;

    @media (min-width: 1440px) {
        width: 1208px;
        margin: 0  auto;
        padding: 12px 20px;
    }
}

.cart {
    position: relative;
}

.cartCount {
    position: absolute;
    top: 5px;
    right: 7px;
    background-color: #FF6633;
    color: white;
    border-radius: 100%;
    padding: 2px 4px;
    font-size: 12px;

    @media (min-width: 1440px) {
        cursor: pointer;
       right: 352px;
    }
}